{{ form_start(form) }}
        <div class="form-control">{{ form_widget(form, {attr: {class : 'form-control'}}) }}</div>
        <div class="d-flex justify-content-center align-items-center flex-column">
                <button class="btn btn-primary my-2 w-25">{{ button_label|default('Save') }}</button>
        </div>
{{ form_end(form) }}
