{{ form_start(form) }}
    <div class="form-group center-text">
        <div class="form-control">{{ form_widget(form) }}</div>
        
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
