{% extends 'base.html.twig' %}

{% block title %}Edit Modules{% endblock %}

{% block body %}
    <h1>Edit Module</h1>
    {{ include('modules/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('modules/_delete_form.html.twig') }}
{% endblock %}
