{% extends 'base.html.twig' %}

{% block title %}New Modules{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Create new Modules</h1>
                {{ include('modules/_form.html.twig') }}
            </div>
        </div>
    </div>

{% endblock %}
